<div class="content">

 
    

 <div class="container">
        <div class="heading">modifier un circuit</div>
        <form action="circuits" class="form">
            <div class="input-group">
                <input type="text" name="nomCircuit" id="nomCircuit" placeholder="Nom du circuit" required>
            </div>
            
            <div class="input-group">
                <textarea name="description" id="description" placeholder="Description"></textarea>
            </div>
            <div class="input-group">
                <input type="text" name="lieu" id="lieu" placeholder="Lieu" required>
            </div>
          
            <div class="horizontal-inputs">
                <input type="date" name="dateDebut" id="dateDebut" placeholder="Date de début" required>
                <input type="date" name="dateFin" id="dateFin" placeholder="Date de fin" required>
              
            </div>
            <div class="input-group">
                <input type="number" name="tarif" id="tarif" placeholder="Tarif" required>
            </div>

            
   
            <input class="edit_button" type="submit" value="modifier">


           
            
          
        </form>
        
             <a href="circuits" class="retour_button">Retour</a>
    </div>
 </div>
 
 
