<div class="content">
    <div class="container">
        <div class="heading">ajouter un circuit</div>
        <form action="circuits" class="form">
            <div class="input-group">
                <input type="text" name="nomCircuit" id="nomCircuit" placeholder="Nom du circuit" required>
            </div>
            
            <div class="input-group">
                <textarea name="description" id="description" placeholder="Description"></textarea>
            </div>
            <div class="input-group">
                <input type="text" name="lieu" id="lieu" placeholder="Lieu" required>
            </div>
          
            <div class="horizontal-inputs">
                <input type="date" name="dateDebut" id="dateDebut" placeholder="Date de début" required>
                <input type="date" name="dateFin" id="dateFin" placeholder="Date de fin" required>
              
            </div>
            <div class="input-group">
                <input type="number" name="tarif" id="tarif" placeholder="Tarif" required>
            </div>

            <div class="input-group">
               
                <input type="file" id="circuit_image" name="circuit_image" accept="image/*">
            </div>
   
            <button class="cssbuttons-io-button">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"></path><path fill="currentColor" d="M11 11V5h2v6h6v2h-6v6h-2v-6H5v-2z"></path></svg>
                <span>Add</span>
              </button>

           
            
          
        </form>
        
             <a href="circuits" class="retour_button">Retour</a>
             
    </div>
 </div>
 